**Pandas Library Installation Command**

In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.3.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 4.3 MB/s eta 0:00:00a 0:00:01
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.3.1 pytz-2025.2 tzdata-2025.2

**Importing Pandas Library**

In [3]:
import pandas as pd
series = pd.Series([10, 20, 30], index = ['a', 'b', 'c'])
print (series)

a    10
b    20
c    30
dtype: int64

In [4]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 0, 35]}
df = pd. DataFrame (data)
print (df)

      Name  Age
0    Alice   25
1      Bob    0
2  Charlie   35

In [5]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None

In [6]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [7]:
print(df.iloc[2]) # iloc stands for integer location

Name    Charlie
Age          35
Name: 2, dtype: object

In [8]:
print(df[df['Age'] > 25])

      Name  Age
2  Charlie   35

In [9]:
df = df. fillna (0) 
# Replace missing values with o
df = df. dropna () # Remove rows with missing values

In [10]:
df = df. rename (columns={ 'Name': 'Full Name'})

In [11]:
df = df. sort_values ('Age', ascending=True)

In [12]:
print(df)

  Full Name  Age
1       Bob    0
0     Alice   25
2   Charlie   35

In [13]:
df = df. sort_values ('Age', ascending=True)

In [14]:
print(df)

  Full Name  Age
1       Bob    0
0     Alice   25
2   Charlie   35

In [15]:
df['Salary'] = [50000,60000, 70000]

In [16]:
print(df)

  Full Name  Age  Salary
1       Bob    0   50000
0     Alice   25   60000
2   Charlie   35   70000

In [ ]:
grouped = df.groupby('Age')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x120800440>

In [22]:
for Age, Salary in grouped:
	print(f"\nAge: {Age}")
	print(Salary)

Age: 50000
  Full Name  Age  Salary
1       Bob    0   50000

Age: 60000
  Full Name  Age  Salary
0     Alice   25   60000

Age: 70000
  Full Name  Age  Salary
2   Charlie   35   70000

In [ ]:
print(df['Age'].sum())
# Sum of ages
print(df['Age'].mean())

60
20.0

In [ ]:
df1 = pd. DataFrame({'ID': [1, 2], 'Name' : ['Alice', 'Bob']})

df2 = pd.DataFrame({'ID': [1, 2], 'Score': [85, 90]})

merged_df = pd.merge(df1, df2, on='ID' )
print (merged_df)

   ID   Name  Score
0   1  Alice     85
1   2    Bob     90